%table.authentication_services
  %tr
    %td
      = link_to image_tag('twitter_64.png', :size => '64x64'), '/auth/twitter'
    %td
      = link_to image_tag('facebook_64.png', :size => '64x64'), '/auth/facebook'
    %td
      = link_to image_tag('foursquare_64.png', :size => '64x64'), '/auth/foursquare'
    %td
      = link_to image_tag('github_64.png', :size => '64x64'), '/auth/github'
    %td
      = link_to image_tag('linkedin_64.png', :size => '64x64'), '/auth/linkedin'
.clear