%br
%br
%br
%br
%br
- if @authentications
  - unless @authentications.empty?
    %strong You can sign into this account using:
    .authentications
      - @authentications.each do |authentication|
 
        .authentication
          = image_tag "#{authentication.provider}_32.png", size: '32x32'
          .provider
            = authentication.provider.titleize
          .uid
            = authentication.uid
 
          = link_to 'X', authentication, confirm: 'Are you sure you want to remove this authentication option?', method: :delete, class: 'remove'
 
    .clear
 
    %br
    %strong Add another service to sign in with:
- else
  %strong Sign in through one of these services:
 
%table.authentication_services
  %tr
    %td
      = link_to image_tag('twitter_64.png', :size => '64x64'), '/auth/twitter'
    %td
      = link_to image_tag('facebook_64.png', :size => '64x64'), '/auth/facebook'
    %td
      = link_to image_tag('foursquare_64.png', :size => '64x64'), '/auth/foursquare'
    %td
      = link_to image_tag('github_64.png', :size => '64x64'), '/auth/github'
    %td
      = link_to image_tag('linkedin_64.png', :size => '64x64'), '/auth/linkedin'
.clear